mixin devicefiltersidebar(selectedDeviceId)
          div.sidebar-nav.well
            ul.nav.nav-pills.nav-stacked
              li.nav-header
                h3 Device
              - var linkCssClass = (selectedDeviceId === 'all') ? 'active' : null;
              li(class=linkCssClass)
                a(href='#{contents.index.url}', title="Show the files of all devices") all
              each deviceKey in Object.keys(contents.devices).sort()
                - var deviceArticle = contents.devices[deviceKey]
                - var linkCssClass = (deviceArticle.metadata.id == selectedDeviceId) ? 'active' : null
                li(class=linkCssClass)
                  a(href='#{deviceArticle.url}', title="Show only the files for #{deviceArticle.metadata.name}")
                    | #{deviceArticle.metadata.name}
                    if deviceArticle.metadata.displayName
                      small  | #{deviceArticle.metadata.displayName}
