doctype html
block vars

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name

    - var bootstrapVersion = '3.2.0'
    - var jqueryVersion = '1.11.1'
    - var datatablesVersion = '1.10.1'

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/#{bootstrapVersion}/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.datatables.net/#{datatablesVersion}/css/jquery.dataTables.css')
    link(rel='stylesheet', href='#{contents.assets["main.css"].url}')

    script(type='text/javascript', src='//code.jquery.com/jquery-#{jqueryVersion}.min.js')
    script(type='text/javascript', src='//cdn.datatables.net/#{datatablesVersion}/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/#{bootstrapVersion}/js/bootstrap.min.js')
    script(type='text/javascript', src='#{contents.assets["main.js"].url}')

  body
    div.container-fluid
      if locals.topImageUrl
        div.row
          img(src=locals.topImageUrl, alt=topImageAlt, title=topImageAlt)
      div.row-fluid.content
        div.col-xs-12.col-md-3
          div.sidebar-nav.well
            ul.nav.nav-pills.nav-stacked
              li.nav-header
                h3 Devices
              - var linkCssClass = (contents.index.url == page.url) ? 'active' : null;
              li(class=linkCssClass)
                a(href='#{contents.index.url}', title="Show the files of all devices") all
              each deviceKey in Object.keys(contents.devices).sort()
                - var deviceArticle = contents.devices[deviceKey]
                - var linkCssClass = (deviceArticle.url == page.url) ? 'active' : null
                li(class=linkCssClass)
                  a(href='#{deviceArticle.url}', title="Show only the files for #{deviceArticle.metadata.name}")
                    | #{deviceArticle.metadata.name}
                    if deviceArticle.metadata.displayName
                      small  | #{deviceArticle.metadata.displayName}

          block sidebarmiddle

          if locals.customLinks && locals.customLinks.length > 0
            div.sidebar-nav.well
              ul.nav.nav-pills.nav-stacked
                li.nav-header
                  h3 Additional information
                each link in locals.customLinks
                  - var linkCssClass = null;
                  - if (link.src == page.url) {
                  -   linkCssClass = 'active';
                  - }
                  li(class=linkCssClass)
                    a(href=link.src, target=link.target) #{link.text}

        div.col-xs-12.col-md-9
          block content

    div.footer
      block footer
        p.text-center &copy; #{ new Date().getFullYear() } #{locals.owner}
