doctype html
block vars
  - var selectedDevice = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name

    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://cdn.datatables.net/1.10.1/css/jquery.dataTables.css')

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(type='text/javascript', src='http://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js')

    script(type='text/javascript')
      | $(document).ready(function() {
      |   var romTable = $('#rom-table');
      |   var romDataTable = romTable.DataTable({
      |     'bLengthChange': false,
      |     'bPaginate': false,
      |     'bAutoWidth': false,
      |     'aaSorting': [ /* The values are pre-sorted on server side. */ ],
      |     'aoColumnDefs': [
      |       { 'bSortable': false, 'aTargets': [ 'col-filename' ] }
      |     ],
      |   });
      |   
      |   var updateTypeColumn = romDataTable.column('.col-updatechannel');
      |   var updateTypeList = $('#updateTypeFilters').find('ul');
      |   
      |   updateTypeColumn.data().unique().sort().each(function(value, idx) {
      |     updateTypeList.append('<li class="updatetype-filter"><a href="#" data-filter-value="' + value + '">' + value + '</a></li>');
      |   });
      |   
      |   $('#updateTypeFilters').removeClass('hidden').addClass('show');
      |   
      |   $(updateTypeList).find('a[data-filter-value]').click(function() {
      |     var clickedLink = $(this);
      |     updateTypeColumn.search(clickedLink.attr('data-filter-value')).draw();
      |     updateTypeList.find('.active').removeClass('active');
      |     clickedLink.parent().addClass('active');
      |     return false;
      |   });
      | });

    style(type='text/css')
      | /*  Top navigation - hide default border to remove 1px line. */
      | .navbar {
      |   border-radius: 0px;
      | }
      | 
      | small {
      |   font-size: 75%;
      | }

  body
    div.navbar.navbar-inverse(role='navigation')
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#{contents.index.url}') #{locals.name}

    div.container-fluid
      div.row-fluid.content
        div.col-xs-12.col-md-3
          div.sidebar-nav.well
            ul.nav.nav-pills.nav-stacked
              li.nav-header
                h3 Devices
              each device in contents.devices
                - var linkCssClass = (selectedDevice == device.metadata.name) ? 'active' : null;
                li(class=linkCssClass)
                  a(href='#{device.url}')
                    | #{device.metadata.name}
                    if device.metadata.displayName
                      br
                      small #{device.metadata.displayName}
          div.sidebar-nav.well.hidden#updateTypeFilters
            ul.nav.nav-pills.nav-stacked
              li.nav-header
                h3 Type
              li.updatetype-filter.active
                a(href='#', data-filter-value='') all

        div.col-xs-12.col-md-9
          block content

    div.footer
      block footer
        p.text-center &copy; #{ new Date().getFullYear() } #{locals.owner}
