include changelogbutton

mixin romtable(romMetadataArray)
  div.table-responsive
    table.table.table-striped.table-hover#rom-table
      thead
        tr
          th.col-device Device
          th.col-updatechannel Type
          th.col-filename Filename / Download
          th.col-size Size
          th.col-date Build date
      tbody
        - romMetadataArray.sort(function(a, b) {
        -   return new Date(b.rom.createdAt) - new Date(a.rom.createdAt);
        - });
        each romMetadata in romMetadataArray
          tr
            - var rom = romMetadata.rom
            - var deviceArticle = null
            - for (i in contents.devices) {
            -   if (contents.devices[i].metadata.id == rom.RomVariant.Device.id) {
            -     deviceArticle = contents.devices[i]
            -     break;
            -   }
            - }
            - var romVariantArticle = null
            - for (i in contents.romvariants) {
            -   if (contents.romvariants[i].metadata.id == rom.RomVariant.id) {
            -     romVariantArticle = contents.romvariants[i]
            -     break;
            -   }
            - }
            td
              a(href="#{deviceArticle.url}", title="Click to show all roms for #{deviceArticle.metadata.name}")
                |  #{deviceArticle.metadata.name}
              if deviceArticle.metadata.displayName
                br
                small #{deviceArticle.metadata.displayName}
            td #{rom.updateChannel}
            td
              dl.dl-horizontal
                dt
                  b Download:
                dd
                  a.btn.btn-default.btn-xs(href="#{romMetadata.downloadUrl}", rel="nofollow", title="Click to download #{rom.filename}")
                    span.glyphicon.glyphicon-download
                    |  #{rom.filename}
                  mixin changelogbutton(rom)
                if romVariantArticle
                  - var variantName = romVariantArticle.metadata.displayName ? romVariantArticle.metadata.displayName : romVariantArticle.metadata.name
                  - var variantLinkTitle = 'Click to show all files for "' + variantName + '"'
                  - if (romVariantArticle.metadata.subdirectory) {
                  -   variantLinkTitle += ' in subdirectory: ' + romVariantArticle.metadata.subdirectory
                  - }
                  dt
                    small ROM variant:
                  dd
                    small
                      a(href="#{romVariantArticle.url}", title="#{variantLinkTitle}") #{variantName}
                dt
                  small md5sum:
                dd
                  small
                    a(href="#{romMetadata.md5sumUrl}", title="Click to download the md5sum file for #{rom.filename}")
                      | #{rom.md5sum}
            td(data-order=rom.fileSize)
              if rom.fileSize
                | #{filesize(rom.fileSize)}
              else
                i (unknown)
            - var romTimestamp = new Date(rom.timestamp)
            td(data-order=romTimestamp.toISOString())
              | #{romTimestamp.toUTCString()}
