include changelogbutton

mixin romtable(allRoms)
  div.table-responsive
    table.table.table-striped.table-hover#rom-table
      thead
        tr
          th.col-device Device
          th.col-updatechannel Type
          th.col-filename Filename / Download
          th.col-size Size
          th.col-date Build date
      tbody
        each rom in allRoms
          tr
            - var deviceArticle = contents.devices[rom.DeviceId + '.json']
            - var deviceName = deviceArticle.metadata.name
            td
              a(href="#{deviceArticle.url}", title="Click to show all roms for #{deviceName}")
                |  #{deviceName}
              if deviceArticle.metadata.displayName
                br
                small #{deviceArticle.metadata.displayName}
            td #{rom.updateChannel}
            td
              dl.dl-horizontal
                dt
                  b Download:
                dd
                  a.btn.btn-default.btn-xs(href="#{rom.downloadUrl}", rel="nofollow", title="Click to download #{rom.filename}")
                    span.glyphicon.glyphicon-download
                    |  #{rom.filename}
                  mixin changelogbutton(rom)
                if rom.subdirectory
                  dt
                    small directory:
                  dd
                    small #{rom.subdirectory}
                dt
                  small md5sum:
                dd
                  small
                    a(href="#{rom.md5sumUrl}", title="Click to download the md5sum file for #{rom.filename}")
                      | #{rom.md5sum}
            td(data-order=rom.fileSize)
              if rom.fileSize
                | #{filesize(rom.fileSize)}
              else
                i (unknown)
            - var romTimestamp = new Date(rom.timestamp)
            td(data-order=romTimestamp.toISOString())
              | #{romTimestamp.toUTCString()}
