
mixin romtable(allRoms)
  div.table-responsive
    table.table.table-striped.table-hover#rom-table
      thead
        tr
          th.col-device Device
          th.col-updatechannel Type
          th.col-filename Filename
          th.col-size Size
          th.col-date Date Added
      tbody
        each rom in allRoms
          tr
            - var deviceArticle = contents.devices[rom.DeviceId + '.json']
            td
              a(href="#{deviceArticle.url}") #{deviceArticle.metadata.name}
              if deviceArticle.metadata.displayName
                br
                small #{deviceArticle.metadata.displayName}
            td #{rom.updateChannel}
            td
              dl.dl-horizontal
                dt
                  b Download:
                dd
                  a(href="#{rom.downloadUrl}") #{rom.filename}
                if rom.subdirectory
                  dt
                    small directory:
                  dd
                    small #{rom.subdirectory}
                dt
                  small md5sum:
                dd
                  small #{rom.md5sum}
            td(data-order=rom.fileSize)
              if rom.fileSize
                | #{filesize(rom.fileSize)}
              else
                i (unknown)
            - var romTimestamp = new Date(rom.createdAt)
            td(data-order=romTimestamp.toISOString())
              | #{romTimestamp.toUTCString()}
